.x {
    background-color: black;
    width: 1000px;
    height: 700px;
  padding: 10px;
}

.y {
    background-color: orange;
    width: 100%;
    height: 100px;
}

.z {
    display: flex;
    flex-direction: row;


}

#red{
    background-color: red;
        width: 25%;
    height: 500px;

}

#green {
    background-color: green;
    width: 25%;
    height: 500px;

}

#blue {
    background-color: blue;
    width: 25%;
    height: 500px;

}

#violet {
    background-color: violet;
    width: 25%;
    height: 500px;}



